<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>EduPath AI</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="chat-container">
    <div class="header">🎓 EduPath AI</div>

    <div id="chatBox"></div>

    <div class="input-area">
        <input type="text" id="userInput" placeholder="Ask anything...">
        <button onclick="startListening()">🎤</button>
        <button onclick="sendMessage()">➤</button>
    </div>
</div>

<script src="/static/script.js"></script>

</body>
</html>